@viewport {
    width: device-width;
    zoom: 1.0;
}

.info {
    background-color: #c5c468;
}

.info-div {
    max-width: 1220px;
    padding: max(30px, 3vw);
    display: block;
    overflow: auto;
    margin: auto;
    color: #fff;
}

.selection-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.quiz-button {
    width: 35%;
    height: max(50px, 5vw);
    margin: 5%;
    border-radius: max(25px, 2.5vw);
    font-size: max(20px, 2.5vw);
    border: 2px solid #c5c468;
    background-color: #c5c468;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.quiz-button:hover {
    background-color: #b5b458;
    border-color: #b5b458;
}

.quiz-container {
    display: flex;
    flex-flow: column nowrap;
}

.quiz-start-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: max(20px, 2vw);
}

#quiz-start-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#quiz-start-button {
    padding-left: max(25px, 2.5vw);
    padding-right: max(25px, 2.5vw);
    padding-top: max(10px, 1vw);
    padding-bottom: max(10px, 1vw);
    border-radius: max(10px, 1vw);
    border: 2px solid #111;
    transition: filter 0.2s;
}

#quiz-start-button:hover {
    filter: brightness(90%);
}

.question-title {
    display: flex;
    justify-content: center;
    padding: max(15px, 1.5vw);
    font-size: max(15px, 1.5vw);
    background-color: #3b8fdf;
    padding-top: max(25px, 2.5vw);
    padding-bottom: max(25px, 2.5vw);
}

.answers {
    display: flex;
    flex-flow: column nowrap;
    padding: max(10px, 1vw);
    background-color: #def7a4;
}

.answer-container {
    display: flex;
    flex-flow: row wrap;
    margin: max(3px, 0.3vw);
    padding: max(3px, 0.3vw);
}

.quiz-choice {
    display: none;
}

.answer-button {
    transition: background-color 0.2s;
}

.quiz-choice:checked + label > .answer-button {
    background-color: #205491;
}

.answer-label {
    display: flex;
    flex-flow: row wrap;
}

.answer-label:hover > .answer-button {
    background-color: #3b8fdf;

}

.answer-button {
    border: 2px solid #111;
    height: max(15px, 1.5vw);
    width: max(15px, 1.5vw);
    margin-right: max(7px, 0.7vw);
    border-radius: max(4px, 0.4vw);
    background-color: #FFF;
}

.answer-text {
    font-size: max(14px, 1.4vw);
}

.submit-button-container {
    padding-left: max(15px, 1.5vw);
    padding-bottom: max(15px, 1.5vw);
    background-color: #def7a4;
}

#submit-button {
    padding: max(10px, 1vw);
    border: 2px solid #111;
    border-radius: max(10px, 1vw);
    transition: filter 0.2s;
    font-size: max(15px, 1.5vw);
}

#submit-button:hover {
    filter: brightness(90%);
}

.results-container {
    display: flex;
    flex-flow: column nowrap;
}

.results-title {
    background-color: #b5b458;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: max(9px, 0.9vw);
    padding-bottom: max(9px, 0.9vw);
    font-size: max(20px, 2vw);
}

.results-display {
    background-color: #def7a4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: max(28px, 2.8vw);
    font-weight: bold;
    padding-top: max(20px, 2vw);
    padding-bottom: max(20px, 2vw);

}

@media screen and (min-width: 700px) {
    .quiz-start-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: max(27px, 2.5vw);
    }
    
    #quiz-start-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #quiz-start-button {
        font-size: max(25px, 2.5vw);
        padding-left: max(35px, 2.5vw);
        padding-right: max(35px, 2.5vw);
        padding-top: max(15px, 1vw);
        padding-bottom: max(15px, 1vw);
        border-radius: max(15px, 1vw);
        border: 2px solid #111;
        transition: filter 0.2s;
    }
    
    #quiz-start-button:hover {
        filter: brightness(90%);
    }
}